/*COLORS*/
$red: #e2445c !default;
$green: #00c875 !default;
$yellow: #ffcb00 !default;
$black: #000000 !default;
$dark_silver: #666666 !default;
$silver: #c0c0c0 !default;
$dark_grey: #e1e2e1 !default;
$grey: #f5f5f6 !default;
$white: #ffffff !default;
$primary: #3d9be9 !default;
$primary_gradient: linear-gradient(to bottom, rgba($primary, 0.8) 0%, rgba($primary, 1) 100%) !default;
$blur: rgba($black, 0.2) !default;
$disabled: rgba($black, 0.4) !default;
/*SIZE FONTS*/
$h0: 40;
$h1: 28;
$h2: 22;
$h3: 18;
$h4: 14;
$h5: 10;
/*SIZES PADDING MARGIN*/
$space_s: 5;
$space_m: 10;
$space_l: 20;
/*BORDER RADIUS*/
$radius_s: 5;
$radius_m: 10;
$radius_l: 20;
/*BORDER WIDTH*/
$width_s: 0.5;
$width_m: 1;
$width_l: 2;
$width_xl: 4;
/*FONTS FAMILY*/
$font_extra_bold: "Assistant-ExtraBold", "Assistant ExtraBold";
$font_bold: "Assistant-Bold", "Assistant Bold";
$font_semi_bold: "Assistant-SemiBold", "Assistant SemiBold";
$font_icon: "Flaticon";
$font_icon_form: "fontello";