.fadeInDown {
	opacity: 0; 
	animation-name: fadeInDown; 
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}
.fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}  
.bounceIn1 {
	opacity: 0;
	animation-name: bounceIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0s; 
}
.bounceIn2 { 
	opacity: 0;
	animation-name: bounceIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0s; 
}